body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background-color: #111;
}

textarea {
	border: 1px solid rgba(255, 255, 255, 0.125);
	background: transparent;
	resize: none;
	width: 500px;
	height: 100px;
	border-radius: 8px;
	color: white;
	outline: none;
	padding: 1rem;
}

textarea:focus {
	border: 1px solid rgba(255, 255, 255, 0.15);
	background: rgba(255, 255, 255, 0.05);
}

p {
	color: white;
	max-width: 500px;
}
